@use "../utils" as *;

.section-title {
  text-align: center;
  width: 50%;
  margin-bottom: 72px;
  margin: 0 auto;
  & h2 {
    position: relative;
    display: inline-block;
    line-height: 1;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 24px;
    font-weight: 700;
    &::before,
    &::after {
      content: "";
      border: 8px solid transparent;
      border-bottom-color: #fd562a;
      position: absolute;
      top: 2.5px;
    }
    &::before {
      border-left-color: #fd562a;
      right: -30px;
    }
    &::after {
      border-right-color: #fd562a;
      left: -30px;
    }
  }
  & p {
    font-size: 20px;
    line-height: 30px;
  }
}

.section-title-2 {
  & h3 {
    font-size: 18px;
    color: var(--pn-primary);
    text-transform: uppercase;
  }
  & h2 {
    font-size: 48px;
    line-height: 58px;
    margin-top: -5px;
  }
  & p {
    color: #615978;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
  }
  &-black {
    & h2 {
      font-size: 48px;
      line-height: 58px;
      color: var(--pn-white);
    }
    & p {
      color: #bdb9cb;
      font-size: 20px;
      line-height: 30px;
      font-weight: 300;
    }
  }
}
